*{
     box-sizing: border-box;
     margin: 0;
}
body {
     color : black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.order-preview {
     background-color: #DDE6ED;
     font-family: 'Josefin Sans', sans-serif;
     color: Black;
     width: 100%;
     height: 599px;
     padding: 10px;
}
.main_header{
     background-color: #2E8A99;
     padding: 8px 16px;
     width: 100%;
     color: white;
     text-decoration: none;
}
.main_header > div{
     display: inline-block;
     vertical-align: middle;
}
.main_nav{
     display: inline-block;
     text-align: right;
     width: calc(100% - 105px);
     vertical-align: middle;
}
.main_nav__items{
     margin: 0;
     padding: 0;
     list-style: none;
}
.main_nav_widget{
     display: inline-block !important;
     padding: 7px;
}
.main_nav a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}
.header_brand_name a{
     text-decoration: none;
     font-weight: bold;
     color: #0E2954;
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 30px;
     padding: 0;
     border: 0;
}

.main_nav_widget a:hover{
     color: #0E2954;
     width: -1px;
     

}
